.navbar {
    background: #fff;
}

.navbar a {
    color: #000;
}

.main {

}

.custom-toggler .navbar-toggler {
  border-color: rgb(255,255,255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.page-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 68px 0;
}

.img--bunny {
    margin: 0 0 48px;
    max-width: 600px;
    border-radius: 6px;
}

#header {
    height: 70vh;
    background-image: url('../assets/images/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 56px;
}


/* Events List */

#headerEvents {
    height: 10vh;
    background: #ACA7C4;
}

.page--title {
    text-align: center;
    margin-bottom: 68px;
}

.events {
    max-width: 340px;
    margin: 48px auto;
    margin-top: 56px;
}

@media screen and (min-width: 768px) {
    .events {
      max-width: 540px;
    }
}

@media screen and (min-width: 992px) {
    .events {
        max-width: 540px;
    }
}

.event-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 28px auto 48px;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 24px;
}

.event-item__header {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .events {
        font-size: 20px;
    }
}

.event-item__content {
    font-size: 14px;
    font-style: italic;
    padding-top: 4px;
    position: absolute;
    width: 40%;
    top: 0;
    left: 28%;
}

@media screen and (min-width: 768px) {
    .event-item__content {
        font-size: 18px;
    }
}

.btn-cutstom {
    background: #F7F396;
    color: #000;
    font-weight: bold;
}

.btn-buy {
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (min-width: 768px) {
    .events {
        font-size: 20px;
    }
}

.event-contact {
    padding-bottom: 48px;
}

/*----About----*/
.about-main--text {
    position: absolute;
    display: none
 }

 .about-main--image {
     height:70%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none
 }

/* ------------------------------------------ Contact Form */
.contact-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0 auto;
    max-width: 40%;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fafafa;
}

/*-----Colours-----*/

.text-blue {
    color: #83DDD6;
}

.text-green {
    color: #8BEAAF;
}

.text-yellow {
    color: #F7F396;
}

.text-pink {
    color: #F2C9C9;
}

.text-purple {
    color: #ACA7C4;
}

.bg-blue {
    background-color: #83DDD6;
}

.bg-green {
    background-color: #8BEAAF;
}

.bg-yellow {
    background-color: #F7F396;
}

.bg-pink {
    background-color: #F2C9C9;
}

.bg-purple {
    background-color: #ACA7C4;
}
