.main {
    
}

.custom-toggler .navbar-toggler {
  border-color: rgb(255,255,255);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#header {
    height: 70vh;
    background-image: url('../assets/images/hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 56px;
}



/*-----Colours-----*/

.text-blue {
    color: #83DDD6;    
}

.text-green {
    color: #8BEAAF;
}

.text-yellow {
    color: #F7F396;
}

.text-pink {
    color: #F2C9C9;
}

.text-purple {
    color: #ACA7C4;
}

.bg-blue {
    background-color: #83DDD6;    
}

.bg-green {
    background-color: #8BEAAF;
}

.bg-yellow {
    background-color: #F7F396;
}

.bg-pink {
    background-color: #F2C9C9;
}

.bg-purple {
    background-color: #ACA7C4;
}